
/* Estilos de Layout */
.horizontal-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.vertical-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.centered-spaced-items{
    justify-content: space-around;
    overflow-x: visible;
    flex-wrap: nowrap;
}
.stylized-box {
    padding: 20px;
}
.stylized-card {
    padding: 20px;   
}
.stylized-card .image-container {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
.stylized-card .feedback {
    resize: horizontal;
    flex-wrap: wrap;
    width: 400px;
    height: 80px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}

.stylized-box2{
    width: 100%;
}
textarea {
    width: 100%;
    height: 100vh;
    resize: vertical;
    padding: 5px;
}


/***************************************************************/
/* Style for the IntelliSense popup */
.CodeMirror-hints {
    position: absolute;
    z-index: 10;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    max-height: 200px;
    overflow-y: auto;
    padding: 5px;
  }
  
  /* Style for individual hint items */
  .CodeMirror-hints li {
    list-style-type: none;
    padding: 3px 8px;
    cursor: pointer;
  }
  
  /* Style for selected hint item */
  .CodeMirror-hints li.CodeMirror-hint-active {
    background-color: #007bff;
    color: #fff;
  }
  